*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.image img {
    width: 200px;
    height: 150px;
    margin: 26px;

  
  
}
.image{
    display: flex;
    justify-content: center;
}
p{
    color: orange;
    text-align: center;
    font-size: large;
    text-shadow: 2px 4px 3px #5cf366 ;
    font-weight: bolder;

}
